.background {
  background: white url("images/background.jpg") repeat;
}

.subtitle {
  font-size: 16px;
  padding-bottom: 0;
}

.content {
  padding-top: 0;
}

.add-button {
  margin-bottom: 15px;
}

.card-row {
  padding: 0 15px;
}

.ingredient-checkbox {
  max-height: 40px;
}

.checkbox-row {
  padding-bottom: 0;
}

.delivery-row {
  margin-top: 0 !important;
}
