.background {
  background: white url("images/background.jpg") repeat;
}

.order {
  width: 85%;
  margin: 0 auto;
}

.subtitle {
  font-size: 18px;
}

.small-title {
  font-size: 15px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.add-button {
  margin-bottom: 15px;
}

.card-row {
  padding: 0 15px;
}

.ingredient-checkbox {
  max-height: 40px;
}

.delivery-row {
  margin-top: 0 !important;
}

.item-total {
  align-items: flex-end;
  width: 100%;
  margin: 0;
}

.total-col {
  border-top: 1px solid lightgray;
}

.total {
  margin: 15px 15px 0 0;
}
