<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pizzeria UCAB</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
    <script src="{% static 'orders/services.js' %}"></script>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app color="red darken-4" dark dense>
          <v-app-bar-nav-icon><v-icon>mdi-pizza</v-icon></v-app-bar-nav-icon>
          <v-toolbar-title>¡Elabora tu orden aquí!</v-toolbar-title>
        </v-app-bar>
        <v-main class="background">
          <v-container fluid>
            <v-row>
              <v-col cols="8">
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-stepper v-model="e1">
                    <v-stepper-header>
                      <v-stepper-step :complete="e1 > 1" step="1">
                        Cliente
                      </v-stepper-step>
                  
                      <v-divider></v-divider>
                  
                      <v-stepper-step :complete="e1 > 2" step="2">
                        Pizzas
                      </v-stepper-step>
                  
                      <v-divider></v-divider>
                  
                      <v-stepper-step :complete="e1 > 3" step="3">
                        Bebidas
                      </v-stepper-step>

                      <v-divider></v-divider>
                      
                      <v-stepper-step step="4">
                        Delivery
                      </v-stepper-step>
                    </v-stepper-header>
                  
                    <v-stepper-items>
                      <v-stepper-content step="1">
                        <v-row>
                          <v-col cols="6">
                            <v-text-field
                              v-model="name"
                              :rules="nameRules"
                              label="Nombre"
                              required
                            ></v-text-field>
                          </v-col>
                          <v-col cols="6">
                            <v-text-field
                              v-model="last_name"
                              :rules="nameRules"
                              label="Apellido"
                              required
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="email"
                              :rules="emailRules"
                              label="Email"
                              required
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn color="primary" @click="e1 = 2">
                              Continuar
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>
                  
                      <v-stepper-content step="2">
                        <v-card v-for="(pizza, index) in pizzas" class="mb-12" color="grey lighten-3" elevation="0">
                          <v-card-title>
                            Pizza #[[index+1]]
                            <v-spacer></v-spacer>
                            <v-btn v-if="pizzas.length!=1" icon color="red darken-4" @click="pizzas.splice(index, 1)">
                              <v-icon>mdi-close</v-icon>
                            </v-btn>
                          </v-card-title>
                          <v-row>
                            <v-col>
                              <v-select
                                v-model="pizzas[index].size"
                                :items="pizza_sizes"
                                item-text="name"
                                item-value="name"
                                :rules="[v => !!v || 'Item is required']"
                                label="Tamaño"
                                required
                              ></v-select>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="4" v-for="ingredient in pizza_ingredients">
                              <v-checkbox
                                v-model="pizzas[index].ingredients"
                                :label="ingredient.name"
                                :value="ingredient.name"
                              ></v-checkbox>
                            </v-col>
                          </v-row>
                        </v-card>
                        <v-row>
                          <v-col class="d-flex justify-center">
                            <v-btn color="red darken-4" dark @click="pizzas.push({size: null, ingredients: []})">
                              Agregar pizza
                            </v-btn>
                          </v-col>
                        </v-row>
                
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn text @click="e1 = 1">
                              Volver
                            </v-btn>
                            <v-btn color="primary" @click="e1 = 3">
                              Continuar
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>
                  
                      <v-stepper-content step="3">
                        <v-row>
                          <v-col>
                            <v-card v-for="(drink, index) in drinks" class="mb-12" color="grey lighten-3" elevation="0">
                              <v-card-title>
                                Drink #[[index+1]]
                                <v-spacer></v-spacer>
                                <v-btn icon color="red darken-4" @click="drinks.splice(index, 1)">
                                  <v-icon>mdi-close</v-icon>
                                </v-btn>
                              </v-card-title>
                              <v-row>
                                <v-col>
                                  <v-select
                                    v-model="drinks[index].name"
                                    :items="available_drinks"
                                    item-text="name"
                                    item-value="name"
                                    :rules="[v => !!v || 'Item is required']"
                                    label="Bebida"
                                    required
                                  ></v-select>
                                </v-col>
                              </v-row>
                            </v-card>
                            <v-row>
                              <v-col class="d-flex justify-center">
                                <v-btn color="red darken-4" dark @click="drinks.push({name: null, id: null})">
                                  Agregar bebida
                                </v-btn>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                  
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn text @click="e1 = 2">
                              Volver
                            </v-btn>
                            <v-btn color="primary" @click="e1 = 4">
                              Continuar
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>

                      <v-stepper-content step="4">
                        <v-row>
                          <v-col>
                            <v-checkbox
                              v-model="checkbox_delivery"
                              :label="'¿Desea agregar delivery por un precio de $'+ [[delivery_price]] + '?'"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row v-if="checkbox_delivery">
                          <v-col>
                            <v-textarea
                              name="direction"
                              filled
                              label="Dirección"
                              auto-grow
                              v-model="direction"
                            ></v-textarea>
                          </v-col>
                        </v-row>
                      
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn text @click="e1 = 3">
                              Volver
                            </v-btn>
                            <v-btn color="primary" @click="registerOrder" :disabled="!valid">
                              Registrar
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>
                    </v-stepper-items>
                  </v-stepper>
                </v-form>
              </v-col>
              <v-col cols="4">
                <v-card elevation="2">
                  <v-card-title>Cliente</v-card-title>
                  
                  <v-row>
                    <v-col>
                      <v-card-text>[[name]] [[last_name]]</v-card-text>
                    </v-col>
                    <v-col>
                      <v-card-text>[[email]]</v-card-text>
                    </v-col>
                  </v-row>
                  
                  <v-divider class="mx-4"></v-divider>

                  <v-card-title>Pizzas</v-card-title>
                  
                  <v-row>
                    <v-col>
                      <v-card-text>
                        <v-row v-for="(pizza, index) in pizzas">
                          <v-col>
                            Pizza [[index+1]]. Tamaño: [[pizza.size]]
                            Ingredientes: [[pizza.ingredients]]
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-col>
                  </v-row>

                  <v-divider v-if="drinks.length>0" class="mx-4"></v-divider>
                  
                  <v-card-title v-if="drinks.length>0">Bebidas</v-card-title>
                  
                  <v-row v-if="drinks.length>0">
                    <v-col>
                      <v-card-text>
                        <v-row v-for="(drink, index) in drinks">
                          <v-col>
                            Bebida [[index+1]]. [[drink.name]]
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-col>
                  </v-row>

                  <v-divider v-if="checkbox_delivery" class="mx-4"></v-divider>
                  
                  <v-card-title v-if="checkbox_delivery">Delivery</v-card-title>
                  
                  <v-row v-if="checkbox_delivery">
                    <v-col>
                      <v-card-text>Dirección: [[direction]]</v-card-text>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            e1: 1,
            pizza_sizes: [{name: "Grande", id: 1}, { name: "Mediana", id: 2 }],
            pizza_ingredients: [
              {name: "Jamón", id: 1},
              { name: "Queso", id: 2 },
              { name: "Aceitunas", id: 3},
              { name: "Champiñones", id: 4 }
            ],
            available_drinks: [
            { name: "Coca-cola", id: 1 },
            { name: "Pepsi", id: 2 },
            { name: "Nestea", id: 3 },
            { name: "Agua", id: 4 }
          ],
            valid: true,
            name: '',
            last_name: '',
            nameRules: [
              v => !!v || 'Name is required',
              v => (v && v.length <= 10) || 'Name must be less than 10 characters',
            ],
            email: '',
            emailRules: [
              v => !!v || 'E-mail is required',
              v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
            pizzas: [
              {
                size: null,
                ingredients: [],
              }
            ],
            checkbox_drink: false,
            drinks: [],
            checkbox_delivery: false,
            delivery_price: 5,
            direction: ""
        },
        methods: {
          async registerOrder(){
            test = await registerOrder("{% url 'register-order' %}", "{{ csrf_token }}", {"username": this.email})
            alert(`ESTA ES UNA ALERTA DE COMPRA PARA EL EMAIL: ${test}`)
          }
        },
        watch: {
        }
      });
    </script>
  </body>
</html>