<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pizzeria UCAB</title>
    <script type='text/javascript'>
      const available_ingredients = {{ ingredients|safe }};
      const available_sizes = {{ sizes|safe }};
      const available_drinks = {{ drinks|safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
    <script src="{% static 'orders/services.js' %}"></script>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app color="red darken-4" dark dense>
          <v-app-bar-nav-icon><v-icon>mdi-pizza</v-icon></v-app-bar-nav-icon>
          <v-toolbar-title v-if="status=='ORDERING' || status=='SENDING'">Pizzeria UCAB: ¡Elabora tu orden aquí!</v-toolbar-title>
          <v-toolbar-title v-if="status!=='ORDERING' && status!=='SENDING'">Pizzeria UCAB: ¡Verifica tu pedido!</v-toolbar-title>
        </v-app-bar>
        <v-main class="background">
          <v-container fluid>
            <v-row class="order">
              <v-col v-if="status=='ORDERING' || status=='SENDING'">
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-stepper v-model="e1">
                    <v-stepper-header>
                      <v-stepper-step :complete="e1 > 1" step="1">
                        Cliente
                      </v-stepper-step>
                  
                      <v-divider></v-divider>
                  
                      <v-stepper-step :complete="e1 > 2" step="2">
                        Pizzas
                      </v-stepper-step>
                  
                      <v-divider></v-divider>
                  
                      <v-stepper-step :complete="e1 > 3" step="3">
                        Bebidas
                      </v-stepper-step>

                      <v-divider></v-divider>
                      
                      <v-stepper-step step="4">
                        Delivery
                      </v-stepper-step>
                    </v-stepper-header>
                  
                    <v-stepper-items>
                      <v-stepper-content step="1">
                        <v-row>
                          <v-col cols="6">
                            <v-text-field
                              v-model="order.client.name"
                              :rules="nameRules"
                              label="Nombre"
                              required
                            ></v-text-field>
                          </v-col>
                          <v-col cols="6">
                            <v-text-field
                              v-model="order.client.last_name"
                              :rules="nameRules"
                              label="Apellido"
                              required
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="order.client.email"
                              :rules="emailRules"
                              label="Email"
                              required
                            ></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn
                              :disabled="!order.client.name || !order.client.last_name || !order.client.email || !valid"
                              color="primary"
                              @click="e1 = 2"
                            >
                              Continuar
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>
                  
                      <v-stepper-content step="2">
                        <v-row>
                          <v-col class="d-flex justify-center">
                            <v-btn
                              class="add-button"
                              color="red darken-4"
                              dark
                              @click="order.pizzas.push({size: null, ingredients: []})"
                            >
                              Agregar pizza
                            </v-btn>
                          </v-col>
                        </v-row>
                        <v-card v-for="(pizza, index) in order.pizzas" :key="index" class="mb-6" color="grey lighten-3" elevation="0">
                          <v-card-title>
                            Pizza #[[index+1]]
                            <v-spacer></v-spacer>
                            <v-btn v-if="order.pizzas.length!=1" icon color="red darken-4" @click="order.pizzas.splice(index, 1)">
                              <v-icon>mdi-close</v-icon>
                            </v-btn>
                          </v-card-title>
                          <v-row class="card-row">
                            <v-col class="padding-top-0">
                              <v-select
                                v-model="order.pizzas[index].size"
                                :items="available_sizes"
                                :item-text="item => item.name +' ($'+ item.price + ')'"
                                :rules="[v => !!v || 'Item is required']"
                                label="Tamaño"
                                required
                                return-object
                              ></v-select>
                            </v-col>
                          </v-row>
                          <v-card-title class="subtitle padding-top-0 padding-bottom-0">Ingredientes</v-card-title>
                          <v-row class="card-row">
                            <v-col cols="4" v-for="(ingredient, ing_index) in available_ingredients" :key="ing_index">
                              <v-checkbox
                                class="ingredient-checkbox"
                                v-model="order.pizzas[index].ingredients"
                                :label="ingredient.name +' ($'+ ingredient.price + ')'"
                                :value="ingredient"
                              ></v-checkbox>
                            </v-col>
                          </v-row>
                        </v-card>
                
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn text @click="e1 = 1">
                              Volver
                            </v-btn>
                            <v-btn
                              :disabled="invalidPizzas()"
                              color="primary"
                              @click="e1 = 3"
                            >
                              Continuar
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>
                  
                      <v-stepper-content step="3">
                        <v-row>
                          <v-col class="d-flex justify-center">
                            <v-btn
                              class="add-button"
                              color="red darken-4"
                              dark
                              @click="order.drinks.push({name: null, id: null})"
                            >
                              Agregar bebida
                            </v-btn>
                          </v-col>
                        </v-row>
                        <v-card v-for="(drink, index) in order.drinks" :key="index"  class="mb-6" color="grey lighten-3" elevation="0">
                          <v-card-title>
                            Bebida #[[index+1]]
                            <v-spacer></v-spacer>
                            <v-btn icon color="red darken-4" @click="order.drinks.splice(index, 1)">
                              <v-icon>mdi-close</v-icon>
                            </v-btn>
                          </v-card-title>
                          <v-row class="card-row">
                            <v-col class="padding-top-0">
                              <v-select
                                v-model="order.drinks[index]"
                                :items="available_drinks"
                                :item-text="item => item.name +' ($'+ item.price + ')'"
                                :rules="[v => !!v || 'Item is required']"
                                label="Bebida"
                                required
                                return-object
                              ></v-select>
                            </v-col>
                          </v-row>
                        </v-card>
                  
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn text @click="e1 = 2">
                              Volver
                            </v-btn>
                            <v-btn
                              :disabled="invalidDrinks()"
                              color="primary"
                              @click="e1 = 4"
                            >
                              Continuar
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>

                      <v-stepper-content step="4">
                        <v-row class="padding-bottom-0">
                          <v-col>
                            <v-checkbox
                              v-model="checkbox_delivery"
                              :label="'¿Desea agregar delivery por un precio de $'+ [[order.delivery.price]] + '?'"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-row v-if="checkbox_delivery" class="delivery-row">
                          <v-col>
                            <v-textarea
                              name="direction"
                              filled
                              label="Dirección"
                              auto-grow
                              v-model="order.delivery.direction"
                            ></v-textarea>
                          </v-col>
                        </v-row>
                      
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <v-btn text @click="e1 = 3">
                              Volver
                            </v-btn>
                            <v-btn
                              color="primary"
                              @click="calculateOrder"
                              :loading="status == 'SENDING'"
                              :disabled="invalidDirection()"
                            >
                              Ver detalle
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-stepper-content>
                    </v-stepper-items>
                  </v-stepper>
                </v-form>
              </v-col>
              <v-col v-if="status!=='ORDERING' && status!=='SENDING'">
                <v-card elevation="2">
                  <v-card-title>
                    Resumen
                    <v-spacer></v-spacer>
                    <span>
                      <p class="no-margin body-2">
                        <b>Nombre:</b> [[calculated_order.client.name]] [[calculated_order.client.last_name]]
                      </p>
                      <p class="no-margin body-2">
                        <b>Email:</b> [[calculated_order.client.email]]
                      </p>
                    </span>
                  </v-card-title>

                  <!-- Pizzas -->
                  <v-divider class="mx-4 gray"></v-divider>
                  <v-card-title class="subtitle padding-bottom-0">Pizzas</v-card-title>
                  <v-card-text class="padding-top-0">
                    <v-row>
                      <v-col
                        cols="4"
                        v-for="(pizza, index) in calculated_order.pizzas.pizzas"
                        :key="index"
                        class="d-flex align-start flex-column"
                      >
                        <span class="mb-auto">
                          <b class="small-title">Pizza [[index+1]]</b> <br>
                          <b>Tamaño:</b> [[pizza.size.name]] <br>
                          <span v-if="!pizza.ingredients.length>0">
                            <b>Pizza margarita</b>
                          </span>
                          <span v-if="pizza.ingredients.length>0">
                            <b>Ingredientes:</b>
                            <ul>
                              <li v-for="(ingredient, index) in pizza.ingredients" :key="index">
                                [[ingredient.name]]
                              </li>
                            </ul>
                          </span>
                        </span>
                        <v-row class="item-total">
                          <v-col class="padding-x-0 padding-top-0">
                            <b>Precio: </b> $[[pizza.total_pizza_price]]
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row>
                      <v-col class="d-flex justify-end padding-bottom-0 small-title">
                        <b>Total: </b> $[[calculated_order.pizzas.total_pizzas_price]]
                      </v-col>
                    </v-row>
                  </v-card-text>

                  <v-divider v-if="calculated_order.drinks.drinks.length>0" class="mx-4 gray"></v-divider>
                  <v-card-title v-if="calculated_order.drinks.drinks.length>0" class="subtitle padding-bottom-0">Bebidas</v-card-title>
                  <v-card-text v-if="calculated_order.drinks.drinks.length>0" class="padding-top-0">
                    <v-row>
                      <v-col
                        cols="4"
                        v-for="(drink, index) in calculated_order.drinks.drinks" :key="index"
                        :key="index"
                        class="d-flex align-start flex-column"
                      >
                        <span class="mb-auto">
                          <b class="small-title">Bebida [[index+1]]</b> <br>
                          [[drink.name]] <br>
                          <b>Precio: </b> $[[drink.price]]
                        </span>
                      </v-col>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row>
                      <v-col class="d-flex justify-end padding-bottom-0 small-title">
                        <b>Total: </b> $[[calculated_order.drinks.total_drinks_price]]
                      </v-col>
                    </v-row>
                  </v-card-text>

                  <v-divider v-if="calculated_order.delivery.direction" class="mx-4 gray"></v-divider>
                  <v-card-title v-if="calculated_order.delivery.direction" class="subtitle padding-bottom-0">Delivery</v-card-title>
                  <v-card-text v-if="calculated_order.delivery.direction" class="padding-top-0">
                    <b>Dirección:</b> [[calculated_order.delivery.direction]]
                    <v-divider></v-divider>
                    <v-row>
                      <v-col class="d-flex justify-end padding-bottom-0 small-title">
                        <b>Total: </b> $[[calculated_order.delivery.price]]
                      </v-col>
                    </v-row>
                  </v-card-text>

                  <v-divider class="mx-4 gray"></v-divider>
                  <v-row>
                    <v-col class="d-flex justify-end subtitle total">
                      <b>Total: </b> $[[calculated_order.total_order_price]]
                    </v-col>
                  </v-row>
                  <v-row v-if="status == 'REGISTERED'">
                    <v-col class="d-flex justify-center">
                      <b class="subtitle primary--text">¡Compra realizada!</b>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="d-flex justify-center">
                      <v-btn
                        v-if="status == 'SENDED' || status == 'REGISTERING'"
                        color="primary"
                        @click="registerOrder"
                        :loading="status == 'REGISTERING'">
                        Realizar compra
                      </v-btn>
                      <v-btn
                        v-if="status == 'REGISTERED'"
                        color="primary"
                        @click="newOrder()"
                      >
                        Realizar nueva compra
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            // Page data
            e1: 1,
            nameRules: [
              v => !!v || 'Name is required',
            ],
            emailRules: [
              v => !!v || 'E-mail is required',
              v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
            valid: true,
            // STATUS = "ORDERING" | "SENDING" | "SENDED" | "REGISTERING" | "REGISTERED"
            status: "ORDERING",
            // DB Data
            available_sizes: available_sizes,
            available_ingredients: available_ingredients,
            available_drinks: available_drinks,
            // Order data
            checkbox_drink: false,
            checkbox_delivery: false,
            order: {
              client: {
                name: '',
                last_name: '',
                email: '',
              },
              pizzas: [
                {
                  size: null,
                  ingredients: [],
                },
              ],
              drinks: [],
              delivery: {
                direction: "",
                price: 5
              }
            },
            calculated_order: null
        },
        methods: {
          async calculateOrder(){
            this.status = "SENDING"
            calculated_order = await sendRequest("{% url 'calculate-order' %}", "{{ csrf_token }}", {"order": this.order})
            this.status = "SENDED"
            this.calculated_order = { client: this.order.client, ...calculated_order }
          },
          async registerOrder() {
            this.status = "REGISTERING"
            await sendRequest("{% url 'register-order' %}", "{{ csrf_token }}", { "order": this.calculated_order })
            this.status = "REGISTERED"
          },
          newOrder(){
            location.reload()
          },
          invalidPizzas() {
            let invalid = false;
            this.order.pizzas.forEach(pizza => {
              if(!pizza.size) {
                invalid = true
              }
            });
            return invalid;
          },
          invalidDrinks() {
            if (this.order.drinks.length==0){
              return false;
            } else {
              let invalid = false;
              this.order.drinks.forEach(drink => {
                if (!drink.name) {
                  invalid = true
                }
              });
              return invalid;
            }
          },
          invalidDirection() {
            if(this.checkbox_delivery == false) {
              return false
            } else {
              return !this.order.delivery.direction
            }
          }
        },
        watch: {
        }
      });
    </script>
  </body>
</html>